<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<!-- Configurazione database SQLite -->
		<add name="DefaultConnection" connectionString="Data Source=immobili.db;Version=3;" providerName="System.Data.SQLite" />
	</connectionStrings>

	<appSettings>
		<!-- Configurazioni generali -->
		<add key="ApplicationName" value="ImmobiGestio" />
		<add key="ApplicationVersion" value="1.0.0" />

		<!-- Percorsi file -->
		<add key="DocumentsPath" value="Documenti" />
		<add key="PhotosPath" value="Foto" />
		<add key="BackupPath" value="Backup" />

		<!-- Limiti file -->
		<add key="MaxDocumentSize" value="52428800" />
		<!-- 50MB in bytes -->
		<add key="MaxPhotoSize" value="10485760" />
		<!-- 10MB in bytes -->

		<!-- Configurazioni UI -->
		<add key="AutoSaveInterval" value="300" />
		<!-- 5 minuti in secondi -->
		<add key="StatusRefreshInterval" value="60" />
		<!-- 1 minuto in secondi -->

		<!-- Formati file supportati -->
		<add key="SupportedDocumentFormats" value=".pdf,.doc,.docx,.txt,.rtf,.jpg,.jpeg,.png,.bmp,.tiff" />
		<add key="SupportedImageFormats" value=".jpg,.jpeg,.png,.bmp,.tiff,.gif,.webp" />

		<!-- Configurazioni backup -->
		<add key="AutoBackupEnabled" value="true" />
		<add key="AutoBackupDays" value="7" />
		<add key="MaxBackupFiles" value="10" />

		<!-- Configurazioni email (per future implementazioni) -->
		<add key="SMTPServer" value="" />
		<add key="SMTPPort" value="587" />
		<add key="SMTPUsername" value="" />
		<add key="SMTPPassword" value="" />
		<add key="EmailFrom" value="" />

		<!-- Configurazioni Outlook (per future implementazioni) -->
		<add key="OutlookIntegrationEnabled" value="false" />
		<add key="OutlookSyncInterval" value="900" />
		<!-- 15 minuti in secondi -->

		<!-- Configurazioni logging -->
		<add key="LogLevel" value="Info" />
		<add key="LogToFile" value="true" />
		<add key="LogFilePath" value="logs\immobigestio.log" />
		<add key="MaxLogFiles" value="30" />
	</appSettings>

	<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="fileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs\trace.log" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>